
.blog {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #3e4c4b;
  color: whitesmoke;
  font-size: 1rem;
  padding:  10px 10%;
}

.postForm {
  border: 3px solid #c3ebed;
  padding: 30px;
}
.postForm h2 {
  color: #21b4c3;
}
.postForm form {
  display: flex;
  flex-direction: column;
}
.postForm button {
  background-color: #21b4c3;
  color: #3e4c4b;
  margin: 5px auto ;
  width: 150px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  
}
.postList {
  margin-top: 20px;
}
.article {
  background-color: #ffff;
  color: #141818;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}
.article h3 {
  text-align: center;
  color: #21b4c3;
}
.article p {
  margin: 15px;
}
.author {
  margin: 10px;
  color: #21b4c3;
}
.vinculo {
  text-decoration-line: none;
  background-color: #21b4c3;
  color: #c3ebed;
  padding: 5px;
  border-radius: 5px;
  
}
