.nav_ate {
  background-color: #c2ac0e; 
}
.nav1 {

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  color: #c3ebed;
}
.caso {
  background-color: #167782;
  height: 10px;
  margin-top: 10px;
}
.name {
  background-color: #1d9aa8;
  height: 10px;
  margin-top: 10px;
}

.home_icon {
  width: 50px;
  height: 50px;
  color: #0b3d42;
  margin: 5px 10px;
}
.ata_ate {
  display: flex;
  justify-content: center;
}
.ata_ate div {
  padding: 10px;
}
.nav2 {
  display: flex;
  justify-content: center;
}
.nav2 div {
  padding: 8px;
  color: #c3ebed;
  font-size: 1rem;
  background-color: #0b3d42;
  margin: 0 5px;
  border-radius: 5px;

}
.navAnalisantesBotton {
  margin-bottom: 0;
}
